{{define "main"}}
<!-- ======= Hero Section ======= -->
<section
  class="inner-hero d-flex justify-content-center align-items-end mb-60"
  style="background-image: url({{.Params.img}})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text text-center">
        <h2>{{.Title}}</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!--Content-->
<section class="content" id="pd">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 p-0">
        <article>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h2>Who we are</h2>
              <p>
                Harminder Singh, the managing director, has been working with
                Immigration New Zealand since 2007. Singh knows the relevant
                policies and understands the criteria that the migrant needs to
                meet, in order to obtain approval. <br /><br />
                Harminder Singh is experienced in the field of immigration.
                Being an immigrant himself, he understands the importance of
                having someone assist you in the country where you wish to
                settle.
                <br /><br />
                Harminder Singh is an IAA licensed Immigration adviser, number
                200902530 since Nov 2009 and a full member of the NZAMI (New
                Zealand Association for Migration & Investment).
              </p>
            </div>
            <div class="col-lg-6 col-md-12">
              <section class="counter">
                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-12 d-flex justify-content-center">
                    <div class="count-box py-3">
                      <div class="icon">
                        <span
                          data-purecounter-start="0"
                          data-purecounter-end="18"
                          class="purecounter"
                          >0</span
                        >
                      </div>
                      <p>Years</p>
                    </div>
                  </div>

                  <div class="col-lg-12 d-flex justify-content-center">
                    <div class="count-box py-3">
                      <div class="icon">
                        <span
                          data-purecounter-start="0"
                          data-purecounter-end="120"
                          class="purecounter"
                          >0</span
                        >
                      </div>
                      <p>Applications</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-lg-6 col-md-12 mt-4">
              <h3>Why NZ Asia Consultants</h3>
              <p>
                If you are considering the possibility of immigrating to New
                Zealand, then you are in the right place. At NZ Asia Consultants
                as we have the experience and skills to make your immigration
                plan a reality.
              </p>
              <ul>
                <li>We offer a timely and professional service.</li>
                <li>We offer a wide range of services to chose from.</li>
                <li>
                  We are a member of the New Zealand Association for Migration &
                  Investment ( NZAMI ).
                </li>
                <li>We have many satisfied customers.</li>
                <li>
                  We have experience in assessing and processing a variety of
                  applications.
                </li>
                <li>We offer competitive fees.</li>
                <li>We are based in Auckland with clients throughout world.</li>
                <li>Free Airport pickup for International students</li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-12 mt-4">
              <h3>Why use a Licensed Immigration Adviser</h3>
              <p>By using a licensed immigration adviser you get:</p>
              <ul>
                <li>Peace of Mind</li>
                <li>Expert Guidance</li>
                <li>Professional Advice</li>
                <li>Time-saving</li>
              </ul>
              <p>
                You should use a licensed immigration adviser as immigration
                instructions are ever-changing and a licensed immigration
                adviser can give you up to date advice regarding your individual
                circumstances. In addition, if someone unlicensed is giving you
                immigration advice, this is against the law in New Zealand. So,
                it is in your best interest to check if your immigration adviser
                is licensed and what license they hold.
                <br /><br />
                The Managing Director of NZ Asia Consultants, Harminder Singh is
                licensed by Immigration Advisers Authority, New Zealand thus
                abiding to their Code of Conduct. This means you can lodge your
                visa application knowing you are in the safe hands of a trusted
                and experienced adviser.
              </p>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-md-4">
              <img
                src="/assets/img/IAA-Trade-Mark_colour-150x150.jpg"
                alt="Logo"
                class="img-fluid"
              />
              <p>Harminder Singh</p>
              <p>License Number: 200902530</p>
              <p>
                Is your Immigration Adviser licensed by the New Zealand
                Government? Check here to find out
                <a href="www.iaa.govt.nz"> www.iaa.got.nz</a>
              </p>
            </div>

            <div class="col-md-4 text-center">
              <img
                src="/assets/img/NZAMI-Logo-April-2021-300x160.jpg"
                alt="Logo"
                class="img-fluid"
              />
              <p>
                <a href="nzami.co.nz"
                  >Full Principal Member of New Zealand Association for
                  Migration & Investment</a
                >
              </p>
            </div>

            <div class="col-md-4">
              <img
                src="/assets/img/LogoLIAAMember.png"
                alt="Logo"
                class="img-fluid"
              />
              <p>Member of the Licensed Immigration Adviser Association</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}} {{end}}
