{{define "main"}}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-end">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text text-center herobg">
        <h2>Expert Migration Services with Pravasi Consultants.</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!--Content-->
<section class="content padding-0 pt-5">
  <div class="container pt-5 bg">
    <div class="row">
      <div class="col-lg-6 p-5">
        <p>
          Embark on your immigration journey with confidence with Pravasi
          Consultants. Our seasoned team is dedicated to simplifying the
          complexities of immigration processes, ensuring a seamless transition
          to your new home. With a commitment to personalized service and
          unwavering reliability, we guide you through every step of the
          process, from initial assessment to settling into your new community.
          Trust Pravasi Consultants to make your dream of a better life abroad a
          reality.
        </p>
        <br />
        <h3><strong>Why Choose Us?</strong></h3>
        <p>
          At Pravasi Consultants, we understand that each country has its unique
          immigration requirements and challenges. With our depth of expertise
          across multiple destinations, transparent approach, and tailored
          solutions, we empower individuals and families to navigate the
          intricacies of immigration with ease. Our proven track record and
          glowing client testimonials speak volumes about our dedication to
          excellence. Whether you're seeking temporary residency, permanent
          citizenship, or assistance with settlement, Pravasi Consultants is
          your trusted partner for all your immigration needs across New
          Zealand, Australia, Germany, Canada, and England. Take the first step
          towards a brighter future today.
        </p>
      </div>
      <div class="col-lg-5 p-5">
        <img src="/assets/img/hero-bg.png" alt="Png" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!--End Content-->

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}}
<!-- End Cta Section -->

{{end}}
