{{define "main"}}
<!-- ======= Hero Section ======= -->
<section
  class="inner-hero d-flex justify-content-center align-items-end"
  style="background-image: url({{.Params.img}})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text text-center">
        <h2>{{.Title}}</h2>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!--Categories-->

<section class="visa-category" id="pd">
  <div class="container">
    <div class="row">
      {{ range sort (where .Site.RegularPages "Section" "visa-categories")
      "Weight" }}

      <div class="col-lg-4 mt-4">
        <div class="card">
          <img src="{{.Params.icon}}" alt="Visa" />
          <p>
            <a href="{{ .Permalink }}" class="stretched-link">{{.Title}}</a>
          </p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<!-- ======= Cta Section ======= -->
{{ partial "cta.html"}} {{end}}
