<section class="counter">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 d-flex justify-content-center">
      <div class="count-box py-3">
        <div class="icon">
          <span
            data-purecounter-start="0"
            data-purecounter-end="15"
            class="purecounter"
            >0</span
          >
        </div>
        <p>Years</p>
      </div>
    </div>

    <div class="col-lg-6 d-flex justify-content-center">
      <div class="count-box py-3">
        <div class="icon">
          <span
            data-purecounter-start="0"
            data-purecounter-end="980"
            class="purecounter"
            >0</span
          >
        </div>
        <p>Applications</p>
      </div>
    </div>
  </div>
</section>
